@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
  /* --background: #171717; */
  background: #050505;
  --color: white;
}

html,
body {
  background: var(--background);
  color: var(--color);
  font-style: normal;
  font-family: 'IBM Plex Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}